*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --dark-color: #141922;
    --dark-grey: #282828;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #717171;
    --light-grey: #C1C1C1;
    --highlight: #ADFF2F;
}

/* general utilities */

a{
    text-decoration: none;
    color: var(--grey);
}
ul{
    list-style: none;
}

.btn{
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 30px;
    transition: transform 1s ease-in-out;
}
/* flex options */
.d-flex{
    display: flex;
}
.j-end{
    justify-content: flex-end;
}
.j-c{
    justify-content: center;
}
.j-sb{
    justify-content: space-between;
}
.align-c{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.flex-w{
    flex-wrap: wrap;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}

/* text utilities*/
.text-up{
    text-transform: uppercase;
}
.text-w{
    color: white;
}
.text-center{
    text-align: center;
}
.text-small{
    font-size: 0.7rem;
}
/* margins and paddings utilities */
.mb-5{
    margin-bottom: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}


/* content */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white)
}

/* /conteint */

/* main */
main{
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
}
/* main-nav */
.main-nav{
    width: 230px;
    background-color: var(--black);
    padding: 15px;
    position: relative;
    padding-bottom: 90px;
    min-height: 350px;
}
.main-nav a{
    color: white;
}
.main-nav .logo{
    width: 70%;
    margin-bottom: 20px;
}
.main-nav .logo img{
    width: 100%;
}
.main-nav li{
    color: var(--grey);
}
.main-nav li a{
    color: var(--grey);
}
.main-nav li:hover a{
    color: var(--white);
}
.main-nav li:hover{
    color: var(--white);
}
.main-nav section.playlists li a{
    font-weight: 600;
}
.main-nav section.playlists{
    height: 68%;
    overflow-y: auto;
}
.main-nav .playlists li>i{
    color: var(--black);
    font-size: 1.3rem;
    background-color: var(--light-grey);
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}
.main-nav .playlists li:hover i{
    background-color: white;
}
.main-nav .library{
    width: 1rem;
    display: inline-block;
}
.main-nav .library img{
    width: 100%;
}
.main-btn{
    cursor: pointer;
}
.main-nav .small-logo{
    display: none;
}
.main-btn li img{
    opacity: 0.7;
    width: 20px;
}
.icon-text.high-reposition{
    position: relative;
    top: -4px;
}
.main-btn li:hover img{
    opacity: 1;
}
.main-btn span.border{
    border: 2px solid var(--highlight);
    position: relative;
    left: -15px;
    opacity: 0;
    transition: all 0.5s;
}
.main-btn li:hover span.border{
    opacity: 1;

}
.main-btn li .actived.border{
    opacity: 1;
}

    /* main-nav-footer */

.main-nav-footer .download{
    color: var(--grey);
}
.main-nav-footer .download a{
    color: var(--grey);
}
.main-nav-footer{
    position: absolute;
    bottom: 0px;
    background-color: #000000;
    padding-bottom: 10px;
}

.main-nav-footer .user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow:hidden;
    background-color: var(--light-grey);
}
.main-nav-footer .user-img img{
 width: 100%;
}
.main-nav-footer .hr{
    border: 0.1px solid var(--grey);
    width: calc(230px - 30px);
}
.main-nav-footer .link:hover{
    color: white;
}
.main-nav-footer .link:hover a{
    color: white;
}
.main-nav-footer .link{
    padding-left: 3px;
}

.main-nav .border.special{
    top: -4px;
}


/* /main-nav */


/* main-content */
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--dark-color);
    padding-top: 80px;
}


/* call to action */
#call-to-action{
    position: fixed;
    top: 0;
    left: 230px;
    width: calc(100% - 248px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    z-index: 2;
}
#call-to-action .btn{
    margin: 0px 15px;
}
.btn:hover{
    transform: scale(1.1);
}
/* main-section */
.main-section{
    padding: 0px 30px;
}
    /* menu nav */
.main-section nav ul{
    padding: 15px;
}
.main-section nav li{
    margin: 0px 15px;
    font-size: 0.7rem;
}
.menu-underline{
    background-color: var(--highlight);
    height: 3px;
    width: 5px;
    margin-top: 2px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.main-section nav li:hover .menu-underline{
    opacity: 100;
    width: 30%;
}
.main-section nav li .actived.menu-underline{
    opacity: 100;
    width: 30%;
}
.main-section nav li:hover a{
    color: white;
    
}
    /* /menu nav */
    
/* inner-container */
.inner-container .single-box-container{
    width: calc((100% / 6) - 20px);
}
.inner-container .option-img{
    transition: all 0.5s ease-out;
    position: relative;
}

.inner-container .single-box-container img{
    width: 100%;
    cursor: pointer;
}
.inner-container .option-img:hover{
    filter: brightness(0.6);
}
.single-box-container .play-button{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    cursor: pointer;
}
.single-box-container .option-img:hover .play-button{
    opacity: 100;
}
.option-info a{
    font-size: 0.7rem;
}
.inner-container h4{
    color: var(--grey);
    font-size: 0.8rem;
}

.single-box-container .cicle-img{
    border-radius: 50%;
    overflow: hidden;
}
    

    /* /inner-container */






/* /main-section */
/* /main-content */



/* /main */

/* playbar */
#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--dark-grey);
    z-index: 2;
}
/* player-album */
.playbar-album{
    width: 230px;
    height: 100%;
    padding: 15px;
}
.playbar-album .album-img{
    width: 40px;
}
.playbar-album .album-img img{
    width: 100%;
}
.playbar-album .song-actions i, .playbar-vol i{
    padding: 4px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 0.8rem;
}
.playbar-album .song-actions i:hover{
    opacity: 1;
}
.playbar-album .song-info a{
    transition: all 0.5s;
}
.playbar-album .song-info a:hover{
    text-decoration: underline;
    color: white;
}


/* player-controls */
.playbar-controls{
    width: 40%;
    height: 100%;
}
.playbar-controls .controls-top i{
    font-size: 1rem;
    padding: 15px 15px;
    cursor: pointer;
}
.playbar-controls .controls-top i.fa-circle-play{
    font-size: 1.7rem;
    scale: 0.8;
    transition: scale 0.3s ease-in;
}
.playbar-controls .controls-top i.fa-circle-play:hover{
    scale: 1;
}
.playbar-controls .controls-bottom input{
    width: 100%;
}
.playbar-controls .controls-bottom .timeline{
    width: 80%;
}
.playbar-controls output{
    padding: 0px 10px;
    font-size: 0.5rem;
    position: relative;
    top: -3px;
}
.playbar-controls span{
    padding: 0px 10px;
    font-size: 0.5rem;
    position: relative;
    top: -10px;
}
.playbar-controls .timeline{
    position: relative;
    top: -10px;
}
.timeline:hover input[type="range"]::-webkit-slider-thumb{
    opacity: 1;
}
.timeline:hover input[type="range"]{
    background-image: linear-gradient(var(--highlight), var(--highlight));
}
.vol-control:hover input[type="range"]{
    background-image: linear-gradient(var(--highlight), var(--highlight));
}

/* player vol */
.playbar-vol{
    width: 230px;
    height: 100%;
    padding-right: 5px;
    overflow: hidden;
}
.playbar-vol i{
    padding: 7px;
}
.playbar-vol i:hover{
    opacity: 1;
}
input[type=range]{
    -webkit-appearance: none;
    cursor: pointer;
    background: var(--grey);
    height: 4px;
    border-radius: 5px;
    background-image: linear-gradient(var(--light-grey), var(--light-grey));
    background-size: 25% 100%;
    background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 2px 0 #555;
    transition: all 0.5s;
    opacity: 0;
}


/* alternative browsers */
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 2px 0 #555;
    transition: all 0.5s;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 2px 0 #555;
    transition: all 0.5s;
}


.playbar-vol input[type=range]{
    width: 100%;
}
.playbar-vol .vol-control{
    width: 50%;
    position: relative;
    top: -4px;
}
.vol-control:hover input[type="range"]::-webkit-slider-thumb{
    opacity: 1;
}


/* /playbar */







/****************** MEDIA Q ********************/

/* medium */
@media screen and (max-width:992px) {
    /* right-side */
    .inner-container .single-box-container{
        width: calc((100% / 4) - 20px);
    }
    
}

/* small */
@media screen and (max-width:768px) {
    /* right-side */
    .inner-container .single-box-container{
        width: calc((100% / 2) - 20px);
    }
}


/* extra-small */
@media screen and (max-width:576px) {
    /* right-side */
    .inner-container .single-box-container{
        width: calc((100%) - 20px);
    }
    /* main-nav */
    .hide-on-resize{
        display: none;
    }
    nav.main-nav{
        width: 50px;
    }
    /* main content */
    #call-to-action {
        left: 50px;
        width: calc(100% - 68px);
    }
    .main-content {
        width: calc(100% - 50px);
    }
    .main-nav-footer .user-img{
        position: relative;
        left: -4px;
    }
    .main-nav .small-logo{
        display: block;
    }
    .main-nav .big-logo{
        display: none;
    }
    .main-nav .logo {
        width: 100%;
    }
}




@media screen and (max-height:180px) {
    #call-to-action{
        position: relative;
        top: -75px;
        left: 0px;
        width: 100%;
        z-index: 0;
    }
    
}